/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
body a{ 
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Bad Script', cursive;
}
p{
	margin:0; 
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/ 
.banner{ 
	background:url(../images/2.jpg)no-repeat center bottom;
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	-o-background-size:cover;
	-ms-background-size:cover; 	
	background-size:cover; 
	min-height: 790px;
	position:relative;
} 
/*-- header --*/
.header { 
    width: 100%;
    padding: 1.5em 0;
    background: rgba(0, 0, 0, 0.56);
	
}
.header nav.navbar.navbar-default {
    background: transparent;
    margin: 0;
	z-index: 9999;
	border: none;
}
.header ul.nav.navbar-nav.navbar-left {
    margin-left: 18%;; 
}
.header ul.nav.navbar-nav{ 
	padding-top:1.3em;
}
.header .navbar-nav { 
    text-align: center;
    display: inline-block;
}
.header .navbar-header h1{
    font-size: 3.2em;
    font-style: italic;
    line-height: inherit;
    font-weight: 800;
}
.navbar-header h1 a {
    color: #fff;
    text-decoration: none;
	display: inline-block;
}
.navbar-header h1 a span {
    font-size: .5em;
    font-weight: 100;
    font-style: initial;
}
/*-- top-nav --*/ 
.header .navbar-nav li { 
	float: none;
    display: inline-block;
	margin:0 1.5em;
}
.header .nav.navbar-nav.navbar-left li a {
    color: #fff !important;
    font-size: 1.2em;
    padding: 0;
    position: relative; 
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
	font-weight: 300;
}
.header .nav.navbar-nav.navbar-left li  a:hover,.nav.navbar-nav.navbar-left li.open  a.dropdown-toggle,.nav.navbar-nav.navbar-left li  a.active {
    color: #0fdfe2 !important;
	outline: none;
} 
.w3ls-hover:after {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden; 
	backface-visibility: hidden;
	border: 1px solid rgba(255, 255, 255, 0);
	bottom: -3px;
	content: " ";
	display: block;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 280ms ease-in-out;
	-moz-transition: all 280ms ease-in-out;
	-o-transition: all 280ms ease-in-out;
	-ms-transition: all 280ms ease-in-out;
	transition: all 280ms ease-in-out;
	width: 0;
}

.w3ls-hover:hover:after,.navbar-default .navbar-nav li a.active:after {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-color: #0fdfe2;
	-webkit-transition: width 350ms ease-in-out;
	-moz-transition: width 350ms ease-in-out;
	-o-transition: width 350ms ease-in-out;
	-ms-transition: width 350ms ease-in-out;
	transition: width 350ms ease-in-out;
	width: 100%;
} 
.header .nav.navbar-nav.navbar-left li a.dropdown-toggle { 
    color:#fff; 
	border: none;
} 
.header .nav.navbar-nav.navbar-left li.open a.dropdown-toggle ,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#0fdfe2;
    background: none; 
}
.header ul.dropdown-menu {
    background: transparent;
    border-color: #909090;
	-moz-animation: fadeInDown .3s ease-in;
    -webkit-animation: fadeInDown .3s ease-in;
	-o-animation: fadeInDown .3s ease-in;
	-ms-animation: fadeInDown .3s ease-in;
    animation: fadeInDown .3s ease-in;
	background: #29232b; 
	top:163%;
	min-width: 135px;
} 
.header .navbar-nav > li > .dropdown-menu li {
    display: block;
    margin: 1em 0;
}  
.header .nav.navbar-nav.navbar-left li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center; 
    font-weight: 300;
} 
.header .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { 
    background-color: transparent;
} 
/*-- //top-nav --*/  
/*-- social-icons --*/ 
.social-icon.navbar-left{ 
    margin: 0;
}
.social-icon {
    float: right;
    margin-top:0.8em;
}
.social-icon a {
    font-size: 1.3em;
    color: #fff;
    margin: 0 .7em;
    display: inline-block;
    text-align: center;
	line-height: 2.2em;
} 
.social-icon a:hover {
    color: #0fdfe2;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
    transform: scale(1.3);
}
/*-- //social-icons --*/ 
/*-- banner-text --*/ 
.banner-text {
    margin-top: 15em;
}
.banner-w3lstext {
    padding: 1em;
	text-align: center;
}
.banner-w3lstext h2 ,.banner-w3lstext h3{
    font-size: 3em;
    color: #fff; 
	text-align: center;
	font-family: 'Bad Script', cursive;
} 
.banner-w3lstext p {
    font-size: 1.1em;
    color: #fff;
    text-align: center; 
    width: 55%;
    margin: 2em auto 0;
} 
/*-- //banner --*/ 
/*-- welcome --*/ 
.welcome,.services,.slid,.newsletter,.codes{
	padding:5em 0;
}
h3.agileits-title {
    font-size: 3em;
    color: #000;
    text-align: center;
    margin-bottom: 1em;
}
.welcome h4 {
    font-size: 1.8em;
    color: #f30d60;
    margin-bottom: 0.8em;
} 
p {
    font-size: 1em;
    color: #999;
    line-height: 2em;
    font-weight: 300;
}
/*-- //welcome --*/ 
/*-- albums --*/
.wthree-almubimg {
    background: url(../images/img2.jpg)no-repeat center;
    background-size: cover;
    min-height: 374px;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
    display: block;
} 
.albums-right,.albums1-left{ 
    background: #f6f7fb;
    padding: 8em 8em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.wthree-almubimg.wthree1-almubimg {
    background: url(../images/img3.jpg)no-repeat center;
    background-size: cover;
}
.albums-left, .albums1-right {
    padding: 0;
}
.albums1-right {
    float: right;
}
.albums h4 {
    font-size: 2.5em;
    font-weight: 300;
    color: #000;
    margin-bottom: 0.8em;
}
/*-- //albums --*/
/*-- services --*/ 
.w3agile-servs-img {
    width: 180px;
    height: 180px;
    text-align: center;
    border: 5px solid #0fdfe2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    background: #f6f7fb;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
}
.w3agile-servs-img:hover {
    border-color: #f30d60;
}
.w3agile-servs-img .icon-holder {
    position: relative;
    top: 58px;
    display: inline-block;
    margin-bottom: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 100%;
    color: #f30d60;
    font-size: 2.5em;
}
.w3agile-servs-img .mission {
    position: relative;
    top: 57px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #0fdfe2;
    font-size: 1.5em;
    opacity: 0;
}
.w3agile-servs-img .description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
    -ms-transform: scale(0); 
    transform: scale(0);
    color: #9e9e9e;
}
.w3agile-servs-img:hover .icon-holder {
    top: 23px;
}
.w3agile-servs-img:hover .mission {
    top: -8px;
    opacity: 1;
}
.w3agile-servs-img:hover .description {
    opacity: 1;
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
    -ms-transform: scale(1);
	-o-transform: scale(1); 
    transform: scale(1);
}
/*-- //services --*/
/*-- slid --*/
.slid {
    background: url(../images/2.jpg)no-repeat center fixed;
    background-size: cover; 
    text-align: center;
}
.slid h4 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 1em;
}
.slid p {
    color: #fff;
    width: 65%;
    margin: 0 auto;
} 
/*-- //slid --*/
/*-- newsletter --*/
.newsletter {
    text-align: center;
}
.newsletter form {
    margin-top: 1.2em;
    width: 70%;
    margin: 2em auto 0;
}
.newsletter input[type="text"] {
    width: 86%;
    padding: .8em;
    font-size: 1em;
    float: left;
    color: #999;
    outline: none;
    border: 1px solid #999;
    border-right: none;
    background: none;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.newsletter input[type="submit"] {
    float: left;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: .8em 1.7em;
    border: 1px solid #999;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-appearance: none;
    background: none;
}
.newsletter form:hover input[type="text"] {
    border-color: #f30d60;
}
.newsletter form:hover input[type="submit"] {
    border-color: #f30d60;
    background: #f30d60;
	color:#fff
} 
/*-- //newsletter --*/
/*-- footer start here --*/ 
.footer-agile {
    background-color: #24202a;
	padding: 4em 0 3em;
} 
.footer-wthree-grid:nth-child(1) {
    padding-right: 4em;
} 
.agileits-w3layouts-tweets h5 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.8em;
    display: inline-block;
} 
.agileits-w3layouts-tweets h5 a{
	color: #fff;
	text-decoration:none;
} 
.footer-wthree-grid ul {
    padding: 0px;
    list-style: none;
}
.footer-wthree-grid ul li {
    margin-top: 0.8em;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
} 
.footer-wthree-grid ul li a {
    color: #fff;
    font-size: 1em;
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
} 
.footer-wthree-grid ul li a:hover,.ftr-text p a:hover {
    color:#0fdfe2;
} 
.footer-wthree-grid p { 
    color: #fff; 
}   
.footer-wthree-grid h3 {
    font-size: 1.8em;
    color: #0fdfe2;
    margin-bottom: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.footer-wthree-grid span{
    margin-right: 6px;
	font-size: .85em;
} 
.social-icon.footerw3ls {
    margin: 0 1.5em 0 0;
}
.social-icon.footerw3ls a {
    width: 30px;
    height: 30px;
    margin: 0 .3em;
    border: 1px solid #fff;
    font-size: 1em; 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%; 
}
/*-- //footer end here --*/
.copy-right p {
    color: #fff;
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 2px solid rgba(255, 255, 255, 0.23);
}
.copy-right p a {
    color: #0fdfe2;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.copy-right p a:hover{
    color:#fff;
}
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/ 
/*-- about --*/
.banner.about-banner .banner-text {
    margin-top: 4em;
}
.banner.about-banner {
    min-height: 300px;
}
.stats.welcome {
    border-top: 1px solid #e2e2e2;
}
.agileinfo_stats_grid {
    text-align: center;
}
.agileinfo_stats_grid h4.counter {
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    color: #38414a;
    font-weight: 300;
    margin-bottom: 0.5em;
}
.agileinfo_stats_grid h5 {
    font-size: 1.8em;
    color: #999;
}
.about-slid h3 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
    line-height: 2em;
}  
/*-- team --*/ 
.ch-item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: default;
	-webkit-box-shadow:inset 0 0 0 0 rgba(116, 94, 197, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 0 rgba(116, 94, 197, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 0 rgba(116, 94, 197, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 0 rgba(116, 94, 197, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 0 rgba(116, 94, 197, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out; 
}
.ch-img-1 {
    background: url(../images/t3.jpg) center top;
}
.ch-img-2 { 
	background:url(../images/t4.jpg) center top;
}
.ch-img-3 { 
	background:url(../images/t5.jpg) -9px 0px;
	background-size: cover;
}
.ch-img-4 { 
	background:url(../images/t6.jpg) -45px -15px;
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);	
	-webkit-backface-visibility: hidden; /*for a smooth font */
}
.ch-info h3 {
    color: #fff; 
    position: relative;
    letter-spacing: 1px;
    font-size: 1.8em;
    padding: 43px 0 0 0;   
}
.ch-info p {
    color: #fff;
    padding: 10px 5px 0;
    font-style: italic;
    margin: 15px 30px 0;
    font-size: 1em;
    border-top: 1px solid rgba(255,255,255,0.5);
}
.ch-item:hover {
	-webkit-box-shadow: inset 0 0 0 110px rgba(7, 213, 216, 0.82), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 0 110px rgba(7, 213, 216, 0.82), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 0 0 110px rgba(7, 213, 216, 0.82), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: inset 0 0 0 110px rgba(7, 213, 216, 0.82), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 0 110px rgba(7, 213, 216, 0.82), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
.ch-grid {
	margin:0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li.ch-grid-item {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.team ul.social-icons {
    margin-top: 1em;
}
.team ul.social-icons li {
    display: inline-block;
} 
.team ul.social-icons li a{
    font-size: 1em;
    color: #fff;
    line-height: 1.9em;
    border: 1px solid;
	width: 28px;
    height: 28px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.team ul.social-icons li a:hover {
    color: #000;
} 
/*-- //about --*/
/*-- tours --*/ 
.filtr-item {
    padding: 1em;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    z-index: 1;
    bottom: 1em;
    left: 1em;
    right: 1em;
} 
/* Filter controls */
ul.simplefilter {
    text-align: center;
    margin-bottom: 2em;
}
.simplefilter li {
	color: white;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	padding: 0.8em 2em;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px; 
	margin: 0 0.3em;
}
.simplefilter li {
    background-color: #0fdfe2;
}
.simplefilter li.active {
    background-color: #f30d60;
}
.agileits-img a{ 
	display:block;
	overflow:hidden;
	background-color: #000;
}
.agileits-img a img{
    width: 100%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all; 
}
.agileits-img a:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
	opacity: 0.5;
}
/*-- tours --*/
/*-- contact --*/
.contact-w3ls-row {
    width: 70%;
    margin: 0 auto;
} 
.contact input[type="text"] {
    width: 48.5%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #999;
    -webkit-appearance: none;
    display: inline-block;
}
.contact input.email {
    float: right;
}
.contact input[type="text"]:hover,.contact input[type="text"]:focus,.contact textarea:hover{
    border-bottom-color: #f30d60;
    border-left-color: #f30d60;
}
.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #999;
    min-height: 12em;
    -webkit-appearance: none;
}
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.8em 4em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #0fdfe2;
	border: 2px solid #0fdfe2; 
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    width: 100%;
}
.contact input[type="submit"]:hover {
    background: none;
    color: #f30d60;
    border-color: #f30d60;
}
::-webkit-input-placeholder {
	color:#999 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#999 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#999 !important;
}
:-ms-input-placeholder {  
	color:#999 !important;
}
.map iframe {
    width: 100%;
    min-height: 300px;
    border: none;
}
/*-- //contact --*/
/*-- pages --*/
.codes {
    padding: 5em 0;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:3em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none; 
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none; 
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.w3ls-hdg, h3.bars {
	margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
} 
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #5f5f5f;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 28px;
    color: #000 !important;
    margin: 30px 0 15px;
}
.agileits-icons-title {
    text-align: center;
    font-size: 36px;
    color: #ef2e46;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*-- //icons --*/
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
@media (max-width:1080px){
.icon-box {
    padding: 8px 9px; 
}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	h3.w3ls-hdg {
		font-size: 1.6em;
		margin: 1em 0 0.6em;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.codes .alert {
		font-size: 0.9em;
		padding: 10px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
	.agileits-icons-title {  
		font-size: 30px; 
	}
	h3.icon-subheading {
		font-size: 22px; 
	}
	.icons .bs-glyphicons li { 
		width: 31%; 
	} 
}
@media (max-width: 320px){ 
	.alert,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 1em;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
	.agileits-icons-title { 
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 18px;
		margin: 21px 0 12px;
	}
}
/*-- //pages --*/  
/*-- responsive-design --*/
@media(max-width:1440px){
.albums-right, .albums1-left { 
    padding: 8em 6em; 
} 
}
@media(max-width:1366px){
.wthree-almubimg { 
    min-height: 402px; 
}
} 
@media(max-width:1080px){
.social-icon a { 
    margin: 0 .4em; 
}
.header ul.nav.navbar-nav.navbar-left{
    margin-left: 14%;
}
.banner-w3lstext p { 
    width: 65%; 
}
.banner { 
    min-height: 700px; 
}
.banner-text {
    margin-top: 13em;
}
.albums-right, .albums1-left {
    padding: 8em 4em;
} 
.newsletter input[type="text"] {
    width: 83%;
} 
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 2.7em; 
}
.banner.about-banner {
    min-height: 270px;
}
.banner.about-banner .banner-text {
    margin-top: 3.5em;
}
.agileinfo_stats_grid h4.counter {
    font-size: 4.5em; 
}
} 
@media(max-width:991px){
.header .navbar-header h1 {
    font-size: 2.8em; 
} 
.header .navbar-nav li { 
    margin: 0 1em;
}
.header ul.nav.navbar-nav.navbar-left{
    margin-left: 5%;
}
.banner-w3lstext p {
    width: 80%;
}
.welcome-w3right {
    margin-top: 1em;
}
.albums-right, .albums1-left {
    padding: 5em 4em;
}
.albums h4 {
    font-size: 2.3em; 
}
.wthree-almubimg {
    min-height: 341px;
}
.services-grids:nth-child(3),.services-grids:nth-child(4){
    margin-top: 1.5em;
}
.newsletter input[type="text"] {
    width: 77%;
}
.social-icon.footerw3ls {
    margin: 0 0 .8em 0;
    float: none;
}
.about-grids .welcome-w3right {
    margin: 0 0 2em 0;
}
.agileinfo_stats_grid h4.counter {
    font-size: 4em;
}
.about-slid h3 {
    font-size: 1.8em; 
    letter-spacing: 1px;
    width: 90%; 
}
.contact-w3ls-row {
    width: 80%;
    margin: 0 auto;
}
.filtr-item {
    padding:0.5em;
}
}
@media(max-width:800px){
.banner {
    min-height: 630px;
}
.banner-text {
    margin-top: 10em;
}
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 2.5em;
} 
.albums-right, .albums1-left {
    padding: 4em 3em;
}
.albums h4 {
    font-size: 2em;
}
}  
@media(max-width:768px){
.navbar-nav li {
    margin: 0 0.8em;
}
.navbar-header {
    margin: 0 !important;
}
.header .navbar-header h1{
    font-size: 2.5em;
}
.welcome, .services, .slid, .newsletter, .codes {
    padding: 4em 0;
}
.welcome-w3right { 
    width: 55%;
}
.wthree-almubimg {
    min-height: 332px;
}
.slid p { 
    width: 85%; 
}
.slid h4 ,h3.agileits-title{
    font-size: 2.8em; 
}
.agileinfo_stats_grid h4.counter {
    font-size: 3.5em;
}
.agileinfo_stats_grid h5 {
    font-size: 1.5em; 
}
.banner.about-banner {
    min-height: 240px;
}
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 2.2em;
}
.banner.about-banner .banner-text {
    margin-top: 2.5em;
}
}
@media(max-width:767px){
.header {
    padding: 1.5em 1em;
}
.header ul.nav.navbar-nav.navbar-left {
    margin: 0;
    display: block;
} 
.header .nav.navbar-nav.navbar-left li a { 
    font-size: 1.1em; 
	padding:.2em 0;
}
.header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background: #000;
}
.header .navbar-default .navbar-toggle {
    border-color: #0fdfe2;
    background: #0fdfe2;
    margin:8px 0 0;
}
.header.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0fdfe2;
} 
.header .navbar-nav > li {
    margin: 0;
    display: block;
    padding-top: 0.8em;
} 
div#bs-example-navbar-collapse-1 {
    background: rgba(0, 0, 0, 0.83);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 95%;
    z-index: 999; 
    margin-top: 1.5em;
}
.header .navbar-default .navbar-nav > li > a:before {
    width: 0;
	display:none;
}
.header ul.nav.navbar-nav.navbar-left {
    margin: 0;
    display: block;
}
.header .navbar-nav > li > .dropdown-menu li { 
    margin: 0;
}
.header .navbar-nav > li > .dropdown-menu li:nth-child(1) { 
    margin: 1em 0;
}
.social-icon {
    float: none;
    margin: 0.5em 0 1.3em;
    text-align: center;
}
.banner {
    min-height: 570px;
}
.banner-text {
    margin-top: 8em;
}
.albums1-right {
    float: none;
} 
.newsletter input[type="text"] {
    width: 73%;
}
.agileinfo_stats_grid h4.counter { 
    margin-bottom: 0.2em;
}
.footer-wthree-grid:nth-child(2) {
    margin: 2em 0;
}
.social-icon.footerw3ls { 
    text-align: left;
}
.footer-wthree-grid h3 {
    font-size: 1.6em; 
}
.contact-w3ls-row {
    width: 90%; 
}
.slid h4, h3.agileits-title {
    font-size: 2.6em;
}
.welcome h4 {
    font-size: 1.4em; 
}
.about-slid h3 {
    font-size: 1.5em; 
}
.banner.about-banner {
    min-height: 210px;
}
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 1.8em;
}
.welcome-w3right {
    width: 100%;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
}
@media(max-width:667px){
.map iframe { 
    min-height: 250px; 
} 
}
@media(max-width:640px){
.newsletter form { 
    width: 80%; 
}
}
@media(max-width:568px){
.newsletter form {
    width: 86%;
}
.simplefilter li { 
    font-size: .9em;
}
.agileinfo_stats_grid h5 {
    font-size: 1.4em;
}
}
@media(max-width:480px){
.banner-w3lstext p {
    width: 85%;
    font-size: 1em;
}
.banner {
    min-height: 500px;
}
.banner-text {
    margin-top: 6em;
}
.welcome, .services, .slid, .newsletter, .codes {
    padding: 3em 0;
}
.albums h4 {
    font-size: 1.8em;
}
.albums-right, .albums1-left {
    padding: 3em 2em;
}
.slid h4, h3.agileits-title {
    font-size: 2.4em;
}
.newsletter form {
    width: 100%;
}
.footer-agile { 
    padding: 3em 0 2em;
}
.ch-grid li.ch-grid-item { 
    margin: 10px;
}
.simplefilter li {  
    margin: 0;
	padding: 0.8em 1.5em;
}
.wthree-almubimg {
    min-height: 230px;
}
.services-grids {
    float: none;
    width: 100%;
}
.services-grids:nth-child(2){
    margin-top: 1.5em;
}
.agileinfo_stats_grid { 
    float: none;
    width: 100%;
}
.agileinfo_stats_grid h4.counter {
    font-size: 3em;
}
.agileinfo_stats_grid:nth-child(2){ 
    margin: 1.5em 0;
}
div#bs-example-navbar-collapse-1 { 
    width: 93%; 
}
}
@media(max-width:414px){
.header .navbar-header h1{
    font-size: 2.2em;
}
.header {
    padding: 1.5em 0.5em 1em;
}
div#bs-example-navbar-collapse-1 { 
    width: 92%; 
}
.albums-right, .albums1-left {
    padding: 2em 1.5em;
}
.albums h4 {
    font-size: 1.6em;
}
.slid p {
    width: 100%;
} 
p {
    font-size: 0.9em; 
}
.newsletter input[type="submit"],.newsletter input[type="text"] { 
    font-size: 0.9em; 
}
.agileinfo_stats_grid h5 {
    font-size: 1.2em;
}
.newsletter input[type="text"] {
    width: 71%;
}
.simplefilter li { 
    padding: 0.8em 1em;  
}
}  
@media(max-width:384px){
.simplefilter li {
    font-size: .8em;
}
.newsletter input[type="text"] {
    width: 70%;
}
}
@media(max-width:375px){
.newsletter input[type="text"] {
    width: 69%;
} 
.simplefilter li { 
    font-size: .8em;
}
.welcome-w3left, .welcome-w3right {
    padding: 0;
}   
.slid h4, h3.agileits-title {
    font-size: 2em; 
}
.banner-text {
    margin-top: 5em;
}
.contact input[type="text"] {
    width: 100%; 
	font-size: 0.9em;
}
.contact-w3ls-row {
    width: 100%;
}
.about-slid h3 {
    font-size: 1.3em; 
    letter-spacing: 0px;
    width: 99%;
}
.welcome, .services, .slid, .newsletter, .codes {
    padding: 2em 0;
} 
ul.simplefilter { 
    margin-bottom: 1em;
}
.footer-wthree-grid ul li {
    margin-top: 0.8em;
    font-size: 0.9em; 
}
}
@media(max-width:320px){
.header {
    padding: 1em 0 0.5em;
}
.header .navbar-default .navbar-toggle { 
    margin: 6px 0 0;
}
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 1.5em;
}
.banner {
    min-height: 440px;
}
.banner-w3lstext p {
    width: 95%;
    font-size: 0.9em;
}
.banner-text {
    margin-top: 4em;
} 
.footer-wthree-grid {
    padding: 0;
} 
.agileinfo_stats_grid h4.counter {
    font-size: 2.5em;
}
.banner.about-banner {
    min-height: 170px;
}
.banner.about-banner .banner-text {
    margin-top: 1.8em;
}
.footer-wthree-grid:nth-child(1) {
    padding-right: 1em;
}
.simplefilter li {
    font-size: 0.7em;
	padding: 0.8em 0.8em;
    margin: 0;
} 
.newsletter input[type="text"] {
    width: 63%; 
}
div#bs-example-navbar-collapse-1 {
    width: 90%;
    margin-top: 1em;
}
}
/*-- //responsive-design --*/